<a href="https://colab.research.google.com/github/Parn1984/wildcodeschool/blob/master/Marcus_Sauer_Quest_Content_Based_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparation
Import Pandas and download the [dataset](https://drive.google.com/file/d/1z0gUGO4zviBiTYnIZQYrhbfRfuMTdNfz/view?usp=sharing). This time, you will be dealing with the reviews users left for various NYC restaurants they've visited.

In [20]:
from IPython.display import display
import pandas as pd
nyc_restaurants_tips = pd.read_csv('NY_Restauraunts_tips.csv', encoding='latin-1')
nyc_restaurants_tips.sort_values(by='user_ID')

       venue_ID  user_ID                                               tips
0         24436       15  make your own sandwich: tuna salad on country ...
16        63386       20  An oldie but still a goodie. Best croque monsi...
15        12533       20  If you're a fan of our great city and its icon...
14       211609       20  If you want an authentic experience, think aga...
13       105277       20                        love eating outside here :)
...         ...      ...                                                ...
10372      2677  2358357  Way too crowded due to the construction at 7th...
10373     48037  2376156                         Not for the faint of heart
10374    231830  2376156  It's goin down Tonight on The Stage (Open Mic ...
10375     22278  2422200  In 2011, 60% of the 25,000 orange, red and whi...
10376     22278  2422200  Developed by Harold Hinn & the Residence Halls...

[10377 rows x 3 columns]

In [22]:
display(nyc_restaurants_tips.venue_ID.nunique())
display(nyc_restaurants_tips.user_ID.nunique())

3112

3298

Just like before, we will be making recommendations for the user who wrote more reviews than others. More data - better recommendations. Find this user and show all the restaurants the user reviewed in the code cell below. Make sure to save the list of the restaurants reviewed by the user.

In [40]:
# your code
busiest_reviewer_id = nyc_restaurants_tips.groupby('user_ID').size().idxmax()
busiest_reviewer_reviews = nyc_restaurants_tips[nyc_restaurants_tips['user_ID'] == busiest_reviewer_id]
display(busiest_reviewer_reviews)
display(busiest_reviewer_reviews.shape)

,venue_ID,user_ID,tips
1838,82569,3184,The Shake Shack cheeseburger is a classic of A...
1839,72,3184,the 'shroom burger is the best thing here: bit...
1840,72,3184,eat a giant \
1841,20555,3184,"Double Stack, cheese fries & a beer, baby. Not..."
1842,82569,3184,Winner of Best Drive-In in the Village Voice 2...
1843,204657,3184,Best hamburgers in the city- Shack Burger!
1844,15236,3184,Concrete jungle shake is ridiculously awesome!!!
1845,31572,3184,Go hard or go home - get the Shack Stack!
1846,27404,3184,"Food is great, but yes the line really is that..."
1847,21920,3184,"Once you have your burger, stop by Gilt City a..."
1848,25807,3184,Try the ShackBurger and spot it on Foodspotting
1849,34832,3184,Finally went here for a Shackburger and cheese...
1850,163242,3184,shroom burger & best fries.
1851,63386,3184,Still my favorite burger in the city! Only com...
1852,39215,3184,Try the Shack Burger and spot it on Foodspotting!
1853,28761,3184,Try the Shack Burger and spot it on Foodspotting!
1854,36758,3184,The ShackBurger with cheese fries is fantastic...
1855,42406,3184,can do without a shake or hot food??use the B ...
1856,1671,3184,"sit outside with your doggy,they're super pet ..."
1857,37946,3184,Use the online web cam to avoid lines-go earli...
1858,18653,3184,Order the cheese burger if you're willing to w...
1859,2977,3184,everyone gets the burger. But the hot dogs are...
1860,49297,3184,a good substitute when you're craving In-n-Out...
1861,60486,3184,That's my name!
1862,11023,3184,Double Shack Burger + Milk Shake together is a...
1863,196154,3184,"I know, everyone comes here for burgers, but h..."

(26, 3)

We will be relying on NLP techniques to generate restaurant features. For each of the venues, put together all the reviews it received and save your result as a dataframe.

In [31]:
# your code
venue_reviews = nyc_restaurants_tips.groupby('venue_ID')['tips'].apply(list).reset_index(name='reviews')
display(venue_reviews)

      venue_ID                                            reviews
0            6  [Nice vibe in here. They give too much pasta, ...
1            9  [Beware: Cash only. But the Radi, Bretzel and ...
2           15  [Best peanut butter cookie. Ever., I used to l...
3           25  [Check your order. They screw something up 100...
4           48  [order steak frites with the au pauve sauce ft...
...        ...                                                ...
3107    266532  [Try the pineapple fried rice and the jasmine ...
3108    266576     [Did NOT HONOR THEIR CHECK-IN COUPON DEAL!!!!]
3109    266602                            [Nice place for sing k]
3110    266616  [I definitely love this place!, I definitely l...
3111    266712      [Grilled cheese and tomato soup never fails.]

[3112 rows x 2 columns]

Now do the same for users - a dataframe which combines all the reviews written by each user.

In [33]:
# your code
user_reviews = nyc_restaurants_tips.groupby('user_ID')['tips'].apply(list).reset_index(name='reviews')
display(user_reviews)

      user_ID                                            reviews
0          15  [make your own sandwich: tuna salad on country...
1          20  [The calamari as an appetizer and the quail. P...
2          25  [obtener el pollo mirador. just right for thos...
3          26  [Ask Mike, the bartender, to put some Val Doon...
4          36  [Best foie gras in NYC! Thanks for telling us ...
...       ...                                                ...
3293  2232344  [Their red velvet cupcakes are delicious, but ...
3294  2302016  [Hilton WiFi username is Hilton, password is H...
3295  2358357  [Way too crowded due to the construction at 7t...
3296  2376156  [Not for the faint of heart, It's goin down To...
3297  2422200  [In 2011, 60% of the 25,000 orange, red and wh...

[3298 rows x 2 columns]

Filter the dataframe above to only show the reviews written by the user who wrote most of reviews (you already identified the user a few steps back). Your dataframe will have one row, since it only shows the reviews written by one user.

In [34]:
# your code
display(user_reviews[user_reviews['user_ID'] == busiest_reviewer_id])

     user_ID                                            reviews
433     3184  [The Shake Shack cheeseburger is a classic of ...

Now, filter the dataframe with all the restaurant reviews to exclude those already reviewed by our target user - otherwise they will still show up among recommendations.

In [41]:
# your code:
already_reviewed = busiest_reviewer_reviews['venue_ID'].to_list()
venue_reviews_cleaned = venue_reviews[~venue_reviews['venue_ID'].isin(already_reviewed)]
display(venue_reviews_cleaned)

      venue_ID                                            reviews
0            6  [Nice vibe in here. They give too much pasta, ...
1            9  [Beware: Cash only. But the Radi, Bretzel and ...
2           15  [Best peanut butter cookie. Ever., I used to l...
3           25  [Check your order. They screw something up 100...
4           48  [order steak frites with the au pauve sauce ft...
...        ...                                                ...
3107    266532  [Try the pineapple fried rice and the jasmine ...
3108    266576     [Did NOT HONOR THEIR CHECK-IN COUPON DEAL!!!!]
3109    266602                            [Nice place for sing k]
3110    266616  [I definitely love this place!, I definitely l...
3111    266712      [Grilled cheese and tomato soup never fails.]

[3088 rows x 2 columns]

Lemmatize the reviews in the single user dataframe

In [8]:
# your code

Now, take the dataframe where you combined all the review texts per restaurant and filtered out the restaurants already reviewed by your target user, and lemmatize these texts too.

In [9]:
# your code

Use the TF-IDF vectorizer to create a matrix showing TF-IDF frequencies of all the words used in the restaurant reviews. Your final matrix should have the number of rows corresponding to the number of restaurants, and the number of columns corresponding to all the unique (lemmatized) words found in all the reviews in the dataset.

In [10]:
# your code

Now, using the TD-IDF vectorizer fitted on the restaurant reviews data, transform the lemmatized review texts by the most prolific user. The result will be a vector with the length equal to the total number unique of words (same as in the matrix calculated in the step above)

In [11]:
# your code

Calculate the cosine similarity between the user vector and the restaurant matrix, and generate a recommendation based on 5 restaurants with the highest cosine similarity score.

In [12]:
# your code