<a href="https://colab.research.google.com/github/Parn1984/wildcodeschool/blob/master/Marcus_Sauer_Quest_Content_Based_NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Preparation
Import Pandas and download the [dataset](https://drive.google.com/file/d/1z0gUGO4zviBiTYnIZQYrhbfRfuMTdNfz/view?usp=sharing). This time, you will be dealing with the reviews users left for various NYC restaurants they've visited.

In [ ]:
import pandas as pd
nyc_restaurants_tips = pd.read_csv('/content/drive/My Drive/NY_Restauraunts_tips.csv', encoding='latin-1')
nyc_restaurants_tips.sort_values(by='user_ID')

       venue_ID  user_ID                                               tips
0         24436       15  make your own sandwich: tuna salad on country ...
16        63386       20  An oldie but still a goodie. Best croque monsi...
15        12533       20  If you're a fan of our great city and its icon...
14       211609       20  If you want an authentic experience, think aga...
13       105277       20                        love eating outside here :)
...         ...      ...                                                ...
10372      2677  2358357  Way too crowded due to the construction at 7th...
10373     48037  2376156                         Not for the faint of heart
10374    231830  2376156  It's goin down Tonight on The Stage (Open Mic ...
10375     22278  2422200  In 2011, 60% of the 25,000 orange, red and whi...
10376     22278  2422200  Developed by Harold Hinn & the Residence Halls...

[10377 rows x 3 columns]

In [ ]:
print(nyc_restaurants_tips.venue_ID.nunique())
print(nyc_restaurants_tips.user_ID.nunique())

3112
3298

Just like before, we will be making recommendations for the user who wrote more reviews than others. More data - better recommendations. Find this user and show all the restaurants the user reviewed in the code cell below. Make sure to save the list of the restaurants reviewed by the user.

In [ ]:
# your code

We will be relying on NLP techniques to generate restaurant features. For each of the venues, put together all the reviews it received and save your result as a dataframe.

In [ ]:
# your code

Now do the same for users - a dataframe which combines all the reviews written by each user.

In [ ]:
# your code

Filter the dataframe above to only show the reviews written by the user who wrote most of reviews (you already identified the user a few steps back). Your dataframe will have one row, since it only shows the reviews written by one user.

In [ ]:
# your code

Now, filter the dataframe with all the restaurant reviews to exclude those already reviewed by our target user - otherwise they will still show up among recommendations.

In [ ]:
# your code:

Lemmatize the reviews in the single user dataframe

In [ ]:
# your code

Now, take the dataframe where you combined all the review texts per restaurant and filtered out the restaurants already reviewed by your target user, and lemmatize these texts too.

In [ ]:
# your code

Use the TF-IDF vectorizer to create a matrix showing TF-IDF frequencies of all the words used in the restaurant reviews. Your final matrix should have the number of rows corresponding to the number of restaurants, and the number of columns corresponding to all the unique (lemmatized) words found in all the reviews in the dataset.

In [ ]:
# your code

Now, using the TD-IDF vectorizer fitted on the restaurant reviews data, transform the lemmatized review texts by the most prolific user. The result will be a vector with the length equal to the total number unique of words (same as in the matrix calculated in the step above)

In [ ]:
# your code

Calculate the cosine similarity between the user vector and the restaurant matrix, and generate a recommendation based on 5 restaurants with the highest cosine similarity score.

In [ ]:
# your code